### Aggregation
Sources: https://www.kaggle.com/unsdsn/world-happiness

## Importing the libraries and data

In [1]:
import pandas as pd
import numpy as np

In [18]:
hp_2015 = pd.read_csv('2015.csv')
hp_2016 = pd.read_csv('2016.csv')
hp_2017 = pd.read_csv('2017.csv')
hp_2018 = pd.read_csv('2018.csv')
hp_2019 = pd.read_csv('2019.csv')

In [47]:
# Let's add a year column to each file to help identify it
hp_2015['Year'] = 2015
hp_2016['Year'] = 2016
hp_2017['Year'] = 2017
hp_2018['Year'] = 2018
hp_2019['Year'] = 2019

Now let's look at the fields and see which ones are similar year to year

In [51]:
for file in hp_2015, hp_2016, hp_2017, hp_2018, hp_2019:
  print('Data in', file['Year'][0])
  print('File shape is ',file.shape)
  print(file.columns)
  print(file.head(2))
  print('\n\n')

Data in 2015
File shape is  (158, 13)
Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual', 'Year'],
      dtype='object')
       Country          Region  ...  Dystopia Residual  Year
0  Switzerland  Western Europe  ...            2.51738  2015
1      Iceland  Western Europe  ...            2.70201  2015

[2 rows x 13 columns]



Data in 2016
File shape is  (157, 14)
Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual', 'Year'],
      dtype='object')
       Country          Region  ...  Dystopia Residual  Year
0      Denmark  Western Europe  ...            2.73939  2016
1  Switzerland  Western Europe  ...            2.69463  2016

[2 rows x 14 columns]



Data in 2017
File shape is  (155, 13)
Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual', 'Year'],
      dtype='object')
   Country  Happiness.Rank  ...  Dystopia.Residual  Year
0   Norway               1  ...           2.277027  2017
1  Denmark               2  ...           2.313707  2017

[2 rows x 13 columns]



Data in 2018
File shape is  (156, 10)
Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Year'],
      dtype='object')
   Overall rank Country or region  ...  Perceptions of corruption  Year
0             1           Finland  ...                      0.393  2018
1             2            Norway  ...                      0.340  2018

[2 rows x 10 columns]



Data in 2019
File shape is  (156, 10)
Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Year'],
      dtype='object')
   Overall rank Country or region  ...  Perceptions of corruption  Year
0             1           Finland  ...                      0.393  2019
1             2           Denmark  ...                      0.410  2019

[2 rows x 10 columns]

There's a few things we realize here:
- The shape is different for every year
- The number of countries (rows) is different for every year
- The columns lables are formatted differently

Let's reformat the column labels, aggregate the data into one dataframe, and check for inconsistencies in countries represented by each year's report

In [59]:
# Reordering  columns into the format of hp_2019

# 2015
column_reorder_2015 = ['Happiness Rank', 'Country', 'Happiness Score', 'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
                       'Freedom', 'Trust (Government Corruption)', 'Generosity', 'Year']
format_2015_to_2019 = hp_2015[column_reorder_2015]
format_2015_to_2019.columns = hp_2019.columns

# 2016
column_reorder_2016 = ['Happiness Rank', 'Country', 'Happiness Score', 'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
                       'Freedom', 'Trust (Government Corruption)', 'Generosity', 'Year']
format_2016_to_2019 = hp_2016[column_reorder_2016]
format_2016_to_2019.columns = hp_2019.columns

# 2017
column_reorder_2017 = ['Happiness.Rank', 'Country', 'Happiness.Score', 'Economy..GDP.per.Capita.', 'Family',  'Health..Life.Expectancy.',
                       'Freedom', 'Generosity', 'Trust..Government.Corruption.', 'Year']
format_2017_to_2019 = hp_2017[column_reorder_2017]
format_2017_to_2019.columns = hp_2019.columns

# Note: 2018 and 2019 have the same format

In [60]:
# Aggregating 
all_together = hp_2019.append(hp_2018, ignore_index=True).append(format_2017_to_2019, ignore_index=True).append(format_2016_to_2019, ignore_index=True).append(format_2015_to_2019, ignore_index=True)

all_together.head()

   Overall rank Country or region  ...  Perceptions of corruption  Year
0             1           Finland  ...                      0.393  2019
1             2           Denmark  ...                      0.410  2019
2             3            Norway  ...                      0.341  2019
3             4           Iceland  ...                      0.118  2019
4             5       Netherlands  ...                      0.298  2019

[5 rows x 10 columns]

In [72]:
# Checking for data leakage by country since country lengths are different
country_counts = all_together.groupby('Country or region').count()
sparse_countries = country_counts[country_counts['Overall rank'] < 5]['Overall rank'].sort_values(ascending=False)
sparse_countries

Country or region
Angola                      4
Taiwan                      4
Central African Republic    4
Sudan                       4
South Sudan                 4
Hong Kong                   4
Laos                        4
Somalia                     4
Lesotho                     4
Macedonia                   4
Mozambique                  4
Namibia                     4
North Cyprus                3
Belize                      3
Comoros                     3
Trinidad and Tobago         3
Trinidad & Tobago           2
Northern Cyprus             2
Suriname                    2
Swaziland                   2
Oman                        1
Puerto Rico                 1
Somaliland Region           1
Hong Kong S.A.R., China     1
Somaliland region           1
Gambia                      1
Djibouti                    1
Taiwan Province of China    1
North Macedonia             1
Name: Overall rank, dtype: int64